@model IEnumerable<RemedyAcknowledgement.Models.RemedyDetails>
<script type="text/javascript">
    function f1() {
        window.open("http://localhost/RemedyAcknowledgement/Content/pics/RemedyReport.CSV");
    }

</script>
@{
    ViewBag.Title = "ViewRemedyDetails";
    Layout = "~/Views/Shared/_Layout1 .cshtml";
    //string path = Server.MapPath(Url.Content("~/Content/pics/RemedyReport.CSV"));

}


<h2>Remedy Details</h2>

@using (Html.BeginForm("Search", "Remedy", FormMethod.Post))
{
    @Html.TextBox("data");
    <input type="submit" value="&#128269submit">
    @Html.TextBox("sort");
    <input type="submit" value="&#x21D5Sort">

}
@Html.ActionLink("Create Report", "GenerateReportCSV", "Remedy") |
<button type="button" onclick="f1()">Download</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Remedyid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Take(5))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Remedyid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRemedyDetails", "Admin", new { id = item.Remedyid }, null) |
                @Html.ActionLink("Details", "RemedyDetailsView", "Admin", new { id = item.Remedyid }, null) |
                @if (item.RemedyStatus == "new")
                {
                    @Html.ActionLink("Assign", "AssignRemedy", "Admin", new { id = item.Remedyid }, null)
                }
                @if (item.RemedyStatus == "Assigned")
                {
                    @Html.ActionLink("ChangeStatus", "ChangeRemedyStatus", "Admin", new { id = item.Remedyid }, null)
                }
            </td>

        </tr>
    }

</table>
<hr />
<table>
    <tr>
        @for (int n = 1; n <= (int)Session["Pages"]; n++)
        {
            <th>
                <button type="button">@Html.ActionLink(n.ToString(), "ViewRemedyDetails1", "Remedy", new { id = n }, null)</button>
            </th>
        }
    </tr>
</table>
<hr />
